<<<<<<< HEAD
doctype html
html(lang="ko")
    head
        title Webtube
    body
        h1 Welcome to Webtube
        footer &cody; 2021 Webtube 
=======
extends base.pug

block content 
    h1 Home
    input(placeholder = "what's your name?")
    button send
>>>>>>> 22b5a2613d906162d6e1d7b1f27aba38a0c97f6e
